CREATE DATABASE [QuanLyCuaHangQuanAo]
GO
USE [QuanLyCuaHangQuanAo]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Hoa_Don]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Hoa_Don](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[maSanPham] [nvarchar](20) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [MaHoaDon_MaSanPham] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[ngayDat] [datetime] NOT NULL,
	[trangThai] [bit] NOT NULL,
	[maNhanVien] [nvarchar](50) NOT NULL,
	[maKhachHang] [nvarchar](20) NOT NULL,
	[giamGia] [money] NULL,
 CONSTRAINT [PK_Hoa_Don] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_Hang]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_Hang](
	[maKhachHang] [nvarchar](20) NOT NULL,
	[tenKhachHang] [nvarchar](50) NOT NULL,
	[soDienThoai] [nchar](10) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
 CONSTRAINT [PK_Khach_Hang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_San_Pham]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_San_Pham](
	[maLoaiSanPham] [nvarchar](20) NOT NULL,
	[tenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Loai_San_Pham] PRIMARY KEY CLUSTERED 
(
	[maLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_Cung_Cap]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_Cung_Cap](
	[maNhaCungCap] [nvarchar](20) NOT NULL,
	[tenNhaCungCap] [nvarchar](50) NOT NULL,
	[ngayHopTac] [datetime] NOT NULL,
	[diaChi] [nvarchar](50) NULL,
	[soDienThoai] [nchar](10) NOT NULL,
	[email] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Nha_Cung_Cap] PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhan_Vien]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhan_Vien](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[chucVu] [varchar](10) NOT NULL,
	[trangThai] [bit] NOT NULL,
 CONSTRAINT [PK_Nhan_Vien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[maSanPham] [nvarchar](20) NOT NULL,
	[tenSanPham] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](50) NOT NULL,
	[donGia] [money] NOT NULL,
	[hinhAnh] [nvarchar](max) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giamGia] [money] NULL,
	[kichThuoc] [nvarchar](10) NOT NULL,
	[chatLieu] [nvarchar](50) NOT NULL,
	[mauSac] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](10) NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[maLoaiSanPham] [nvarchar](20) NOT NULL,
	[maNhaCungCap] [nvarchar](20) NOT NULL,
	[giaNhap] [money] NOT NULL,
 CONSTRAINT [PK_San_Pham] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 2022-12-01 02:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[matKhau] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Tai_Khoan] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Chi_Tiet_Hoa_Don] ([maHoaDon], [maSanPham], [soLuong]) VALUES (N'HD1127073141', N'SP20221101125333', 20)
INSERT [dbo].[Chi_Tiet_Hoa_Don] ([maHoaDon], [maSanPham], [soLuong]) VALUES (N'HD1127073526', N'SP20221101125331', 20)
INSERT [dbo].[Chi_Tiet_Hoa_Don] ([maHoaDon], [maSanPham], [soLuong]) VALUES (N'HD1127073752', N'SP20221101125331', 20)
GO
INSERT [dbo].[Hoa_Don] ([maHoaDon], [ngayDat], [trangThai], [maNhanVien], [maKhachHang], [giamGia]) VALUES (N'HD1127073141', CAST(N'2022-11-27T00:00:00.000' AS DateTime), 1, N'NV001', N'KH001', NULL)
INSERT [dbo].[Hoa_Don] ([maHoaDon], [ngayDat], [trangThai], [maNhanVien], [maKhachHang], [giamGia]) VALUES (N'HD1127073526', CAST(N'2022-11-27T00:00:00.000' AS DateTime), 1, N'NV001', N'KH001', NULL)
INSERT [dbo].[Hoa_Don] ([maHoaDon], [ngayDat], [trangThai], [maNhanVien], [maKhachHang], [giamGia]) VALUES (N'HD1127073752', CAST(N'2022-11-27T00:00:00.000' AS DateTime), 1, N'NV001', N'KH001', NULL)
GO
INSERT [dbo].[Khach_Hang] ([maKhachHang], [tenKhachHang], [soDienThoai], [gioiTinh]) VALUES (N'KH001', N'Thuận Lê', N'0990990990', 1)
INSERT [dbo].[Khach_Hang] ([maKhachHang], [tenKhachHang], [soDienThoai], [gioiTinh]) VALUES (N'KH002', N'Quân Nguyễn', N'0909002002', 1)
INSERT [dbo].[Khach_Hang] ([maKhachHang], [tenKhachHang], [soDienThoai], [gioiTinh]) VALUES (N'KH003', N'Trần Trọng', N'0999999999', 1)
GO
INSERT [dbo].[Loai_San_Pham] ([maLoaiSanPham], [tenLoai]) VALUES (N'LSP20221101123621', N'Quần Dài')
INSERT [dbo].[Loai_San_Pham] ([maLoaiSanPham], [tenLoai]) VALUES (N'LSP20221101123622', N'Áo Sơ Mi')
INSERT [dbo].[Loai_San_Pham] ([maLoaiSanPham], [tenLoai]) VALUES (N'LSP20221101123623', N'Quần Short')
GO
INSERT [dbo].[Nha_Cung_Cap] ([maNhaCungCap], [tenNhaCungCap], [ngayHopTac], [diaChi], [soDienThoai], [email]) VALUES (N'NCC20221101123821', N'Uniqlo', CAST(N'2022-11-01T00:00:00.000' AS DateTime), N'34 Hoàng Hoa Thám, HCM', N'0987440858', N'anhquanhino123@gmail.com                          ')
INSERT [dbo].[Nha_Cung_Cap] ([maNhaCungCap], [tenNhaCungCap], [ngayHopTac], [diaChi], [soDienThoai], [email]) VALUES (N'NCC20221101123822', N'H&M', CAST(N'2022-11-01T00:00:00.000' AS DateTime), N'150 CMT8, HCM', N'0987440567', N'alo123@gmail.com                                  ')
INSERT [dbo].[Nha_Cung_Cap] ([maNhaCungCap], [tenNhaCungCap], [ngayHopTac], [diaChi], [soDienThoai], [email]) VALUES (N'NCC20221101123823', N'Lazada', CAST(N'2022-11-01T00:00:00.000' AS DateTime), N'200 Trần Bình Trọng, HCM', N'0987440256', N'healer@gmail.com                                  ')
GO
INSERT [dbo].[Nhan_Vien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [email], [chucVu], [trangThai]) VALUES (N'NV001', N'Lê Võ Minh Thuận', 1, CAST(N'2001-02-22' AS Date), N'thuan22022001@gmail.com', N'NVQL', 1)
INSERT [dbo].[Nhan_Vien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [email], [chucVu], [trangThai]) VALUES (N'NV002', N'Trần Trọng', 1, CAST(N'2002-07-04' AS Date), N'trong2002tran@gmail.com', N'NVQL', 1)
INSERT [dbo].[Nhan_Vien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [email], [chucVu], [trangThai]) VALUES (N'NV003', N'Mai Văn Thắng', 1, CAST(N'2002-11-02' AS Date), N'thang2002dhcn@gmail.com', N'NVQL', 1)
GO
INSERT [dbo].[San_Pham] ([maSanPham], [tenSanPham], [moTa], [donGia], [hinhAnh], [soLuong], [giamGia], [kichThuoc], [chatLieu], [mauSac], [gioiTinh], [trangThai], [maLoaiSanPham], [maNhaCungCap], [giaNhap]) VALUES (N'SP20221101125321', N'Quần Dài Kaki', N'co giãn đàn hồi', 300000.0000, N'./HinhAnh/ImageSanPham/Áo/Áo-thun-nam-Polo.jpg', 495, 0.2000, N'S', N'Kaki', N'Xanh', N'Nam', N'Đang kinh doanh', N'LSP20221101123621', N'NCC20221101123821', 100000.0000)
INSERT [dbo].[San_Pham] ([maSanPham], [tenSanPham], [moTa], [donGia], [hinhAnh], [soLuong], [giamGia], [kichThuoc], [chatLieu], [mauSac], [gioiTinh], [trangThai], [maLoaiSanPham], [maNhaCungCap], [giaNhap]) VALUES (N'SP20221101125323', N'Quần Short Ultra Short', N'Rộng rãi', 230000.0000, N'./HinhAnh/ImageSanPham/Áo/Áo-thun-nam-Polo.jpg', 499, 0.2000, N'L', N'Vải tổng hợp', N'Tím', N'Nữ', N'Đang kinh doanh', N'LSP20221101123623', N'NCC20221101123823', 100000.0000)
INSERT [dbo].[San_Pham] ([maSanPham], [tenSanPham], [moTa], [donGia], [hinhAnh], [soLuong], [giamGia], [kichThuoc], [chatLieu], [mauSac], [gioiTinh], [trangThai], [maLoaiSanPham], [maNhaCungCap], [giaNhap]) VALUES (N'SP20221101125324', N'Áo Thun Polo Cotton', N'Thoáng mát', 450000.0000, N'./HinhAnh/ImageSanPham/Áo/Áo-thun-nam-Polo.jpg', 500, 0.2000, N'XL', N'Sợi Sorona', N'Vàng', N'Nam', N'Đang kinh doanh', N'LSP20221101123624', N'NCC20221101123824', 100000.0000)
GO
INSERT [dbo].[Tai_Khoan] ([maNhanVien], [matKhau]) VALUES (N'NV001', N'thuan                                             ')
INSERT [dbo].[Tai_Khoan] ([maNhanVien], [matKhau]) VALUES (N'NV002', N'12345678                                          ')
INSERT [dbo].[Tai_Khoan] ([maNhanVien], [matKhau]) VALUES (N'NV003', N'12345678                                          ')
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Chi_Tiet_Hoa_Don_Hoa_Don] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[Hoa_Don] ([maHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] CHECK CONSTRAINT [FK_Chi_Tiet_Hoa_Don_Hoa_Don]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Chi_Tiet_Hoa_Don_San_Pham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[San_Pham] ([maSanPham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] CHECK CONSTRAINT [FK_Chi_Tiet_Hoa_Don_San_Pham]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Khach_Hang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[Khach_Hang] ([maKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_Hoa_Don_Khach_Hang]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_Don_Nhan_Vien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[Nhan_Vien] ([maNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_Hoa_Don_Nhan_Vien]
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD  CONSTRAINT [FK_Tai_Khoan_Nhan_Vien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[Nhan_Vien] ([maNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tai_Khoan] CHECK CONSTRAINT [FK_Tai_Khoan_Nhan_Vien]
GO
